@charset "UTF-8";

body{background-color: #f3f4f4; font-family: 'proxima_novaregular'; }
h1, h2{ font-weight: 600;}

.destaque h1{color:#444e68; font-family: 'proxima_novaextrabold' !important;}
.banner_sabores{color:#FFF; margin-bottom: -37px;}

/*Topo*/
#top{padding: 30px 0;}
 
h1,h2,h3{ font-family: 'proxima_novaextrabold' !important;}
.icon-arrow-right { display: none;}

.hand{font-family: 'molleregular'; color:#f0c61b; font-weight: 100;}

/*Call_to_action*/
.call_to_action:hover{background-color:#f0c61b; text-decoration:none; color:#FFFFFF;}
.call_to_action, .call_to_action2 { border:2px solid #f0c61b; padding:10px 20px; text-transform: uppercase; }
.call_to_action1 {border:2px solid #FFFFFF;}
.call_to_action, .call_to_action1 {color:#FFFFFF; padding:10px 20px;}
.call_to_action a:hover, .call_to_action1 a:hover{color:#FFFFFF; background-color:#F0C61E !important; text-decoration:none;} 
.call_to_action1:hover{background-color:#FFFFFF; color:#F0C61E;}
.call_to_action a, .call_to_action1 a{color:#FFFFFF;}
.call_to_action2 , .call_to_action2 a{color:#333;}
.call_to_action2:hover , .call_to_action2 a:hover{color:#333; background-color: #F0C61E; text-decoration:none;}
.more-link{ border:2px solid #f0c61b; padding:10px 20px; text-transform: uppercase; color:#333; }
a.more-link:hover {background-color: #F0C61B; text-decoration: none; color:#444E66;}
.banner_delivery .more-link{ color:#ffffff;} 
.banner_delivery a.more-link:hover { color:#ffffff;} 

.logo {display: flex; align-items: center;  margin-bottom: 25px;}
.logo img{display:flex; align-items: center;}

.phone_delivery{float:left; padding: 0px 10px; border-right: 1px solid #666;  }
.phone_delivery.col-sm-12 { text-align: center;}
.ifood{padding: 6px 10px; /*border-right: 1px solid #666;*/ float: left; text-align: center;}
.fale_conosco {float: left; /*border-right: 1px solid #666;*/ padding: 10px 0; text-align: center;}

.social{float: left; padding: 0px 10px; }
.social ul{padding:0;}
.social li{float: left; list-style: none;border: 4px solid #FFF;}


/*Slideshow*/
#slidehome{ background-size: cover; margin-top: -62px;}
.n2-padding { overflow: hidden; max-height: 650px;}

/*Menu*/
.navbar-light .navbar-toggler{background: #fff;}
.collapse.show {display: block; background: #333;}
.sombra_menu { background-image: url(img/shadow_menu.png);  background-repeat: no-repeat;  background-size: 100%; width: 100%; position: relative; z-index: 1; height:117px; margin: -27px 0 -52px; padding: 0 0 10px;}
.sombra_menu .container {padding: 0;}

.link_home {margin-left: 0 !important;}
#main_menu {position: relative; z-index: 10000; margin-top: 0px;}
#main_menu ul{padding-left:0 !important;}
#main_menu li{margin-left: 17px; list-style:none; padding: 10px 0;}
#main_menu a{color:#FFFFFF; font-size:17px;}
#main_menu a:hover{ border-bottom:3px solid #f0c61b; text-decoration: none;}
#main_menu .bg-light{ background-color: none !important}
button.menu-toggle {display: none;}

#top-menu li {float: left; margin-left: 14px;}

.navbar-light .navbar-toggler-icon{background-color: #ffffff;}
.navbar a{padding:0 !important;}
.navbar-toggle {/* display: none; */  z-index: 9998;position: relative; border:3px solid #fff;}

/*Destaque*/
.foto_dest img { border: 8px solid #ffffff; margin-top: -74px; margin-bottom: 20px; box-shadow: 2px 2px 8px #ccc;}
.txt_dest{padding-top: 50px; padding-left: 50px;}
#pratos_dest h3 {font-family: 'molleregular' !important; color: #f0c61b; font-size: 29px; font-weight: lighter;  margin: 13px 0;}

/*Pratos*/
.cozinha{background-image: url(img/bg_ingredientes.jpg); padding: 100px 0; text-align: center;  background-attachment: fixed;  background-position: center; background-repeat: repeat-y; background-size: cover;}
.cozinha .col-lg-8{margin: auto;}
.cozinha .call_to_action2 {display: table; margin: 20px auto;}

.banner_sabores{background-image: url(img/bg_sabores.jpg); text-align:center; padding: 160px 0; background-repeat: no-repeat; background-size: cover;}
.item_food{text-align: center;}
.item_food img{border:6px solid #FFFFFF; margin-top:-10px; width:100%; box-shadow: 3px 3px 4px #aaa;}
#pratos_dest .call_to_action2{margin: 50px auto;}

section.happy_cortes_carta { margin-top: 37px;}
#happy_hour{background-image: url(img/happyhour.jpg); background-size: cover; display: flex; align-items: center; color: #FFFFFF; padding: 40px; text-align: center;}
#happy_hour .call_to_action{ margin: 1.5rem auto 0; display: table;}
.content_happy{display: flex; align-items: center;}

.cortes_area{background-image: url(img/bg_corte.jpg); height: 198px; background-size: cover; background-position:center; padding-left: 1.5rem; padding-top: 1.5rem; margin: 0; display: flex; align-items: center;}
.cortes_area .hand{ color: #FFFFFF;}

.vinho_area{background-color: #444e68; position: relative; color: #ffffff; height: 198px; padding-left: 1.5rem; padding-top: 1.5rem; margin: 0; display: flex; align-items: center;}
.img_vinho {position: absolute;  top: -62px; left:20%}

.vinho_area .call_to_action1,.cortes_area .call_to_action1{font-size: 21px;}

.banner_delivery{ background-image:url(img/bg_caseiro.jpg); background-size: cover; color: #FFFFFF; position: relative; min-height: 400px; display: flex;}
.text_delivery{display: flex; align-items: center;}
.text_delivery .call_to_action{display: table; margin: 30px 0;}


.panela{position:absolute; left:0; top: -69px;; z-index: 4;}

.fogo_chao, .eventos_corporativos { margin: 40px 0;}

.text_area{background-color:#444e68; float: left; padding: 15.5% 0px 15.5% 18px; color: #FFF; }
.text_area.col-lg-6.col-md-6.col-sm-6 { padding-left: 37px;}
.text_area h2{font-size:25px;}
.text_area .call_to_action{margin: 20px 0 ; display: table;}

.img_area{color: #FFFFFF; float:left;padding: 0; height: 100%;  background-position: center; background-repeat: no-repeat; background-size: cover;}

/*Footer*/
footer li{ margin-bottom: 20px; list-style: none; margin-left: 0; padding-left: 0;}
footer ul{padding-left: 0; }
.icon_footer{width:20px; height: auto;    margin-right: 7px; float: left;}
.address { background-color: #3b3b3f; color: #FFFFFF; padding: 50px 0; padding-left: 78px !important;}
.col-lg-6.col-md-6.col-sm-6.maps {padding: 0;}
.address_data { display: table;}

@media (max-width: 989px){
.foto_dest img{display:none;}
.panela{display:none;}
}


@media (max-width: 575px){
section.cozinha {margin-top: 65px;}
.img_vinho{display:none;}
.fogo_chao, .eventos_corporativos {margin: 116px 0;}
.fale_conosco, .ifood, .phone_delivery{text-align:center !important; margin-bottom:20px; border-right:0 !important;}
.logo img { width: 80%; margin: auto;}
.social ul{ width: 119px; margin: auto;}
}


/* Cardápio */

.box:last-child{
  background: yellow;
  margin: 0 0 10px 0;
}
.content_cardapio { background-image: url(img/bg_cardapio.jpg); background-repeat: no-repeat; background-position-x: center;background-size: 100%;}

.thumb_page {margin-right: -15px !important; margin-left: -15px;}
.item_tub{background-color: #444e68; color: #f0c61b; font-family:'molleregular' !important; padding: 10px 20px; margin-top: -55px;  position: relative;  text-align:left;}

.item {box-shadow: 1px 1px 8px #999; background-color: #FFFFFF; padding: 0; margin-bottom: 10px;}
.item b, .item strong{ margin: 20px 44px; font-size: 15px; display: table; font-weight:bold;}
.item img{width:100%; height:auto;}
.ui-tabs {position: relative; padding: .2em;  margin-top: -450px;}
#faixa{ background-color: #f0c61b; width:100%; height: 400px; margin:0 !important;}
.banner_cardapio .container {height: 400px;}
.content_cardapio{padding:0 !important;}

.ui-tabs .ui-tabs-nav{margin:-6px 0 0 0 !important;}
.ui-tabs .ui-tabs-panel{ padding: 1em 0;}
.destaque_item { margin: 20px 44px; font-size: 15px; display: table;}

.item ul{margin-left:20px; font-size: 15px; margin-top: 20px;}


.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited .ui-state-active a:hover
.ui-tabs-active .ui-state-active
{color: #444e68 !important;  text-decoration: none; background-color: #f0c61b !important; font-size: 16px; padding: 1em 2em !important; border: 0 !important;}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited .ui-state-default a:hover {text-decoration: none; background-color: #444e68;  color: #97999e;  font-size: 15px;  padding: 1em 2.2em !important;  border: 0 !important;  font-weight: 100;}

.banner_cardapio{  background-image: url(img/bg_page_cardapio.jpg); background-size: cover; padding-top: 6.5rem; color: #FFFFFF;  margin-top: -118px; height: 419px;}




/* Page */
#galeria{background: #444e68;padding: 20px 0px;}
#banner{background-size: cover;padding: 150px 0px;top: -60px;position: relative;}
#banner h3{font-family: 'molleregular' !important;color: #f0c61b;font-weight: 100;font-size: 2.5em;}
#banner h4{color: #fff;font-family: 'proxima_novaextrabold' !important;font-size: 2.5em;}
#banner p{color:#fff;}
#galeria img{width:100%;}
#galeria .image-item{display: inline-block;cursor:pointer;}
#galeria .image-item:hover:after{content:" ";background: url('img/icon_search_image.png');width: 130px;height: 130px;position: absolute;display: block;margin-top: -250px;margin-left: 100px;}